<!--ITEM DETAILS TEMPLATE-->
<ng-template #myItemDetailsTemplate let-data>
  <div *ngIf="data" fxLayout="row" style="height: 100%">
    <div fxShow fxHide.lt-sm class="primary-background"
         style="margin:10px; text-align:center">
      <div style="display:inline-block; margin:15px;">
        <img class="avatar" style="width: 150px; height: 150px;" [src]="data?.largeAvatarFileName"/>
      </div>
      <div class="primary-foreground" style="font-size:20px; margin-top: 15px">{{data?.firstName}}</div>
    </div>
    <div style="margin-top:50px; margin-left: 20px; margin-right: 20px; height: 280px; overflow: auto">
      <p style="word-wrap: break-spaces">{{data?.largeDescription}}</p>
    </div>
  </div>
</ng-template>

<!--ITEM CARD TEMPLATE-->
<ng-template #myItemTemplate let-data>
  <mat-card style="min-width: 300px">
    <mat-card-header>
      <div fxLayout="row">
        <img class="avatar" style="width:75px; height: 75px; transform: translate(-20px,-10px)"
             [src]="data?.avatarFileName"/>
        <div fxLayout="column" style="margin-left:10px">
          <span class="foreground" style="font-size:20px">{{data?.firstName}}</span>
          <span class="foreground" style="font-size:16px">{{data?.description}}</span>
        </div>
      </div>
      <button mat-icon-button (click)="onDeleteCard(data)" style="position: absolute; right: 10px; top: 10px">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</ng-template>

<!-- WORKSPACE STARTS HERE -->
<mgui-workspace workspaceTitle="Pointer Panel">

  <ng-container webTools>
    <button matTooltip="Add a card"
    mat-icon-button (click)="addCard()">
    <mat-icon>add</mat-icon>
  </button>
    <span fxFlex="1 1 0"></span>
    <button matTooltip="Open GitHub source code and documentation in a new browser tab" 
    mat-icon-button (click)="goToDoc()"><img src="../../../assets/GitHub-Mark-Light-32px.png"/></button>
  </ng-container>


  <ng-container mobileTools>
    <mat-menu #appMenu="matMenu" [overlapTrigger]="false">

      <button mat-menu-item (click)="addCard()">
        <mat-icon>add</mat-icon>
        <span style="vertical-align: middle;">Add a card</span>  
      </button>

      <button mat-menu-item (click)="goToDoc()">
        <img style="vertical-align: middle;" src="../../../assets/GitHub-Mark-Light-32px.png" width="24" height="24"/>
        <span style="margin-left: 17px; vertical-align: middle;">GitHub</span></button>  
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>

  <ng-container mobilePrimeTools>
    <button mat-fab (click)="addCard()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-fab style="margin-left: 10px" (click)="goToDoc()" >
      <img src="../../../assets/GitHub-Mark-32px.png" width="24" height="24"/>
    </button>    

  </ng-container>

  <!--Subscribe once to items observable and add it to variable
  so we don't get multiple subscriptions-->
  <div *ngIf="cards$ | async as items" style="width: 100%; height: 100%; overflow-y: scroll; overflow-x: hidden;">
    <mgui-pointer-panel-list [itemTemplate]="myItemTemplate"
                        [itemDetailsTemplate]="myItemDetailsTemplate"
                        [dataSource]="items">
    </mgui-pointer-panel-list>
  </div>
</mgui-workspace>
