
<div id="preload" style="display: none;">
  <img src="../assets/website/small-business-parallax-1-1920x1200.jpg" />
  <img src="../assets/website/small-business-parallax-2-1920x1200.jpg" />
  <img src="../assets/website/small-business-parallax-3-1920x1200.jpg" />
  <img src="../assets/website/about-me-1-1920x1100.jpg" />
  <img src="../assets/website/about-me-parallax-1-1920x1100.jpg" />
  <img src="../assets/website/companies/bcbs.png" />
  <img src="../assets/website/companies/vms.jpg" />
  <img src="../assets/website/companies/bofa.png" />
  <img src="../assets/website/companies/canon.png" />  
</div>

<div fxFlex="100%" fxLayout="column">

    <mat-toolbar fxShow fxHide.lt-md fxHide.md>
      <mat-toolbar-row>
        <button type="button" matTooltip="Toggle Navigation" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h2 style="padding-left:20px">Modern GUIs</h2>
        <span fxFlex="1 1 auto"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex="100%">
  
      <mat-sidenav-content role="main" fxFlex="100%">
       <router-outlet></router-outlet>
      </mat-sidenav-content>
  
      <mat-sidenav #drawer class="mat-elevation-z3" [mode]="drawerMode" opened
                   role="navigation" style="min-width:300px" fxLayout="column">
  
        <mat-nav-list>
          <mat-list-item role="listitem" (click)="closeDrawerOnNav()" routerLink="website-workspace"
                         routerLinkActive #rla="routerLinkActive">
            <div *ngIf="rla.isActive" class="active-highlighter"></div>
            <mat-icon mat-list-icon>web</mat-icon>
            <a mat-line>Website</a>
          </mat-list-item>

          <mat-list-item role="listitem" (click)="closeDrawerOnNav()" routerLink="library-workspace"
                         routerLinkActive #rla6="routerLinkActive">
            <div *ngIf="rla6.isActive" class="active-highlighter"></div>
            <mat-icon mat-list-icon>devices</mat-icon>
            <a mat-line>Angular Component Library</a>
          </mat-list-item>
          
          <mat-list-item role="listitem" (click)="closeDrawerOnNav()" routerLink="carousel-workspace"
                         routerLinkActive #rla3="routerLinkActive">
            <div *ngIf="rla3.isActive" class="active-highlighter"></div>
            <mat-icon mat-list-icon>slideshow</mat-icon>
            <a mat-line>Carousel Control</a>
          </mat-list-item>

          <mat-list-item role="listitem" (click)="closeDrawerOnNav()" routerLink='/pointer-panel-workspace'
                         routerLinkActive #rla1="routerLinkActive">
            <div *ngIf="rla1.isActive" class="active-highlighter"></div>
            <mat-icon mat-list-icon>horizontal_split</mat-icon>
            <a mat-line>Pointer Panel Control</a>
          </mat-list-item>
          <mat-list-item role="listitem" (click)="closeDrawerOnNav()" routerLink='/items-control-workspace'
                         routerLinkActive #rla2="routerLinkActive">
            <div *ngIf="rla2.isActive" class="active-highlighter"></div>
            <mat-icon mat-list-icon>list</mat-icon>
            <a mat-line>Items Control</a>  
          </mat-list-item>
          <mat-list-item role="listitem" (click)="closeDrawerOnNav()" routerLink='/empty-workspace'
                         routerLinkActive #rla7="routerLinkActive">
            <div *ngIf="rla7.isActive" class="active-highlighter"></div>
            <mat-icon mat-list-icon>web_asset</mat-icon>
            <a mat-line>Workspace</a>  
          </mat-list-item>

        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  
  