<!--ITEM DETAILS TEMPLATE-->
<ng-template #myItemDetailsTemplate let-data>
  <div *ngIf="data" fxLayout="row" style="height: 100%">
    <div fxShow fxHide.lt-sm class="primary-background"
         style="margin:10px; text-align:center">
      <div style="display:inline-block; margin:15px;">
        <img class="avatar" style="width: 150px; height: 150px;" [src]="data?.largeAvatarFileName"/>
      </div>
      <div class="primary-foreground" style="font-size:20px; margin-top: 15px">{{data?.firstName}}</div>
    </div>
    <div style="margin-top:50px; margin-left: 20px; margin-right: 20px; height: 280px; overflow: auto">
      <p style="word-wrap: break-spaces">{{data?.largeDescription}}</p>
    </div>
  </div>
</ng-template>

<!--ITEM CARD TEMPLATE-->
<ng-template #myItemTemplate let-data>
  <mat-card style="min-width: 300px">
    <mat-card-header>
      <div fxLayout="row">
        <img class="avatar" style="width:75px; height: 75px; transform: translate(-20px,-10px)"
             [src]="data?.teams[0].avatarFileName"/>
        <div fxLayout="column" style="margin-left:10px">
          <span class="foreground" style="font-size:20px">{{data?.game}}</span>
          <span class="foreground" style="font-size:16px">{{data?.channel}}</span>
        </div>
        <img class="avatar" style="width:75px; height: 75px; transform: translate(20px,-10px)"
        [src]="data?.teams[1].avatarFileName"/>

      </div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</ng-template>

<!-- WORKSPACE TEMPLATE -->
<mgui-workspace workspaceTitle="Sportsbook">

  <ng-container webTools>
    <mat-button-toggle-group [value]="sportCategory" (change)="onSportsCategoryChanged($event)">
      <mat-button-toggle matTooltip="Football games" aria-label="Bet on football games" value="football">      
        <mat-icon color="white">sports_football</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="baseball" matTooltip="Baseball games">
          <mat-icon >sports_baseball</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="basketball" matTooltip="Basketball games">          
        <mat-icon>sports_basketball</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="hockey" matTooltip="Hockey games">
        <mat-icon>sports_hockey</mat-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>
  </ng-container>

  <ng-container mobileTools>
    <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>Add Card</button>
      <button mat-menu-item>Share</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>

  <ng-container mobilePrimeTools>
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab style="margin-left: 10px">
      <mat-icon>share</mat-icon>
    </button>
  </ng-container>

  <!--Subscribe once to items observable and add it to variable
  so we don't get multiple subscriptions-->
  <div *ngIf="games$ | async as items">
    <mgui-pointer-panel-list [itemTemplate]="myItemTemplate"
                        [itemDetailsTemplate]="myItemDetailsTemplate"
                        [dataSource]="items">
    </mgui-pointer-panel-list>
  </div>
</mgui-workspace>
